{% extends 'flatpages/default.html' %}

{% block content %}
<div class="form_login_wrapper">
  <div class="form_login">
    <h2>{% load i18n %}{% trans 'Авторизоваться' %}</h2>
    <form class="form_user_login" method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
       <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
      <button class="" type="submit">{% trans 'Войти' %}</button>
    </form>
  </div>
</div>
{% endblock %}