{% extends 'flatpages/default.html' %}

{% block content %}
  <h2>Запрос на сброс пароля</h2>

  {% if error_message %}
    <div style="color: red;" class="alert alert-danger">
      {{ error_message }}
    </div>
  {% endif %}

  {% if success_message %}
    <div style="color: green;" class="alert alert-success">
      {{ success_message }}
      {% if not form_sent %}
        <script>
          // Скрипт для скрытия формы после успешной отправки
          document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("reset-password-form").style.display = "none";
          });
        </script>
      {% endif %}
    </div>
  {% endif %}

  <form method="post" action="{% url 'reset_password_view' %}" id="reset-password-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить запрос</button>
  </form>

  <div class="div_buttom">
    <a class="a_buttom" href="/">
      <button class="back_button">Назад</button>
    </a>
  </div>

  <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных.</p>
{% endblock %}
