{% extends 'flatpages/default.html' %}

{% block title %}
Справочник
{% endblock title %}

{% block content %}
    <div class="user-title">
        <h2>Справочник: {{ reference }}</h2>

    </div>
<div class="main-table_wrapper">
<table cellpadding="5" align="center" style="border-collapse: collapse; width: 50%;">
            <tr>
                <th style="border: 1px solid #ddd; padding: 10px; text-align: center; font-size: 16pt;">Название</th>
                <th style="border: 1px solid #ddd; padding: 10px; text-align: center; font-size: 16pt;">Описание</th>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px; font-size: 14pt;">{{ reference.title }}</td>
                <td style="border: 1px solid #ddd; padding: 8px; font-size: 14pt;">{{ reference.description }}</td>
            </tr>
        </table>
</div>
<div class="div_buttom"><a class="a_buttom" href="/"><button class="back_button">Назад</button></a></div>
{% endblock content %}