<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ flatpage.title }}
        {% endblock title %}
    </title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
        <div class="info">
            <div class="info-item">
            <a href="/">
                <img width="160px" class="logo" src="{% static 'images/logo.jpg' %}" alt="logo">
            </a>
            </div>
            <div class="info-item">
                <a href="/">
                   <img class="items_content" width="180px" src="{% static 'images/shesterny.png' %}" alt="logo">
                </a>
            </div>
            <div class="info">
                <div class="info-item">
                    <a href="https://chzsa.ru/product/">
                        <img class="items_content" width="180px" src="{% static 'images/pogruzchik.png' %}" alt="logo">
                    </a>
                </div>
                <div class="info-item">
                    <a href="https://t.me/chzsa21">
                        <img class="logo_telegram" width="40px" src="{% static 'images/logotelegram.png' %}" alt="telegram">
                    </a>
                </div>
                <div class="info-item">
                  <span class="tell_numb">+7(8352)20-12-09</span>
                </div>
            </div>
            <div class="info-item_auth">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'account_login' %}"><button class="button_login">Авторизация</button></a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account_logout' %}"><button class="button_login">Выйти</button></a>
                {% endif %}
            </div>
        </div>
        <div class="title">
            <h1>Электронная сервисная книжка "Мой Силант"</h1>
        </div>
    </header>

        <main>
            {% if request.user.is_authenticated %}
        <div class="user-title">
            <h2 class="group_users">{{ request.user.groups.first.name }}:</h2>
            <h2 class="users">{{ request.user }}</h2>
        </div>
            {% endif %}
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </main>
    <footer>
        <div class="info_foo">
            <span>+7(8352)20-12-09</span>
                <div class="info_foo_img">
                    <a href="https://t.me/chzsa21">
                        <img width="20px" src="{% static 'images/logotelegram.png' %}" alt="telegram">
                    </a>
                </div>
            </div>

        <div class="info_foo">
            <div class="info-item_foo">
                <a href="/">
                    <img width="150px" src="{% static 'images/most2.png' %}" alt="logo">
                </a>
            </div>
            <span>Сервисная книга «Силант»</span>
        </div>
    </footer>
</body>
</html>
